.vs/CMake Overview
.vs/cmake.db
.vs/launch.vs.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Tiny8/v16/.suo
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/Tiny8.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.vs/cmake.db
build/.vs/Tiny8/v16/.suo
build/.vs/Tiny8/v16/Solution.VC.db
build/.vs/Tiny8/v16/Solution.VC.db-shm
build/.vs/Tiny8/v16/Solution.VC.db-wal
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.0-rc2/CMakeCCompiler.cmake
build/CMakeFiles/3.26.0-rc2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.0-rc2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.0-rc2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.0-rc2/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.0-rc2/CMakeSystem.cmake
build/CMakeFiles/3.26.0-rc2/VCTargetsPath.txt
build/CMakeFiles/3.26.0-rc2/VCTargetsPath.vcxproj
build/CMakeFiles/3.26.0-rc2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.0-rc2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.26.0-rc2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.26.0-rc2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.26.0-rc2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.26.0-rc2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/820daa88c747743cde6531f5e36ec646/generate.stamp.rule
build/sample/ALL_BUILD.vcxproj
build/sample/ALL_BUILD.vcxproj.filters
build/sample/cmake_install.cmake
build/sample/Sample.sln
build/sample/Sample.vcxproj
build/sample/Sample.vcxproj.filters
build/sample/Sample.vcxproj.user
build/sample/CMakeFiles/generate.stamp
build/sample/CMakeFiles/generate.stamp.depend
build/sample/Debug/Sample.exe
build/sample/Debug/Sample.pdb
build/sample/Release/Sample.exe
build/sample/Sample.dir/Debug/Sample.Build.CppClean.log
build/sample/Sample.dir/Debug/Sample.exe.recipe
build/sample/Sample.dir/Debug/Sample.ilk
build/sample/Sample.dir/Debug/Sample.log
build/sample/Sample.dir/Debug/Sample.vcxproj.FileListAbsolute.txt
build/sample/Sample.dir/Debug/tiny8_sample.obj
build/sample/Sample.dir/Debug/vc142.pdb
build/sample/Sample.dir/Debug/Sample.tlog/CL.command.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/CL.read.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/CL.write.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/CustomBuild.command.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/CustomBuild.read.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/CustomBuild.write.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/link.command.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/link.read.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/link.write.1.tlog
build/sample/Sample.dir/Debug/Sample.tlog/Sample.lastbuildstate
build/sample/Sample.dir/Release/Sample.exe.recipe
build/sample/Sample.dir/Release/Sample.log
build/sample/Sample.dir/Release/tiny8_sample.obj
build/sample/Sample.dir/Release/Sample.tlog/CL.command.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/CL.read.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/CL.write.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/CustomBuild.command.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/CustomBuild.read.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/CustomBuild.write.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/link.command.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/link.read.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/link.write.1.tlog
build/sample/Sample.dir/Release/Sample.tlog/Sample.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
